@media all and (max-width: 999px) {
    #navbarMobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        z-index: 2;
        top: 0;
        padding: 0 4rem 0 2rem;
        height: 100%;
        box-sizing: border-box;
        background-color: #303030;
    }

    .logoLink {
        text-decoration: none;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
    }

    .menuButton {
        display: flex;
        align-items: center;
        justify-content:center;
        border: none;
        background-color: transparent;
        color : #fff;
        font-size: 17px;
    }
}

@media all and (min-width: 1000px){
    #navbarMobile {
        display: none;
    }
}