@media all and (max-width: 999px) {}
@media all and (min-width: 1000px) {
    #thinks {
        margin: 1em 0;
        padding: 0 5em;
        width: 45%;
    }

    .thinksList {
        padding: 1em 2em;
        width: 100%;
    }

    .thinksContent {
        padding: 1em 0;
    }

    .thinksTitle {
        font-size: 22px;
        font-family: "Bebas-Neue";
        letter-spacing: 10px;
    }
}