@font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-Light.ttf');

    font-weight : 300;
    font-style : normal;
  }

@font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-LightItalic.ttf');

    font-weight : 300;
    font-style : italic;
  }

@font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-Regular.ttf');

    font-weight : 400;
    font-style : normal;
  }

@font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-Italic.ttf');

    font-weight : 400;
    font-style : italic;
  }

  @font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-Medium.ttf');

    font-weight : 500;
    font-style : normal;
  }

@font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-MediumItalic.ttf');

    font-weight : 500;
    font-style : italic;
  }

  @font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-SemiBold.ttf');

    font-weight : 600;
    font-style : normal;
  }

@font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-SemiBoldItalic.ttf');

    font-weight : 600;
    font-style : italic;
  }

  @font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-Bold.ttf');

    font-weight : 700;
    font-style : normal;
  }

@font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-BoldItalic.ttf');

    font-weight : 700;
    font-style : italic;
  }

  @font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-ExtraBold.ttf');

    font-weight : 800;
    font-style : normal;
  }

@font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-BoldItalic.ttf');

    font-weight : 800;
    font-style : italic;
  }

  @font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-Black.ttf');

    font-weight : 900;
    font-style : normal;
  }

@font-face{
    font-family: 'Mulish';
  
    src: url('../../assets/fonts/Mulish/Mulish-BlackItalic.ttf');

    font-weight : 900;
    font-style : italic;
  }

  @font-face{
    font-family: 'Vodan';
  
    src: url('../../assets/fonts/VodanDemo/Vodan_Demo.ttf');

    font-weight : 400;
    font-style : normal;
  }

*, ::before, ::after {
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
}